<div class="text-right m-b-10 m-t-10">
  <button mat-flat-button (click)="addCurrency()" color="primary">
    + Add Currency
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row m-b-10">
    <div class="col"><b>Delete</b></div>

    <div class="col-10 text-center"><b>Currency</b></div>
    <div class="col"><b>Default</b></div>
  </div>
  <div formArrayName="currencies">
    <div *ngFor="let currency of curr.controls; let i = index">
      <div class="row m-b-10" [formGroupName]="i">
        <div class="col">
          <i-tabler
            name="trash-filled"
            style="color: #ff5733"
            (click)="removeCurrency(i)"
          ></i-tabler>
        </div>

        <div class="col-10">
          <input
            matInput
            class="text-white w-100 my-mat-input"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="col">
          <button
            type="button"
            mat-flat-button
            [ngClass]="{
              'true-button': curr.at(i).get('default')?.value,
              'false-button': !curr.at(i).get('default')?.value
            }"
            (click)="action(i)"
          >
            <i-tabler name="check"></i-tabler>
          </button>
        </div>
      </div>
    </div>
  </div>
  <button mat-flat-button color="primary" class="m-t-4">Save</button>
</form>
