.modal {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-dialog {
    margin: auto;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Adjust as needed for spacing */
}

.custom-ranges {
    flex: 1;
}

.custom-ranges-buttons {
    /* Add your styling for the custom range buttons */
}

.calendar-container {
    flex: 2;
    /* Adjust the flex ratio as needed */
    display: none;
    /* Hide the calendar initially */
}

/* Add more CSS styling as needed */