<mat-card class="cardWithShadow theme-card">
  <mat-card-content class="b-t-1">
    <form>
      <!-- input -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block text-white"
        >Select Worker</mat-label
      >
      <mat-form-field class="w-100" appearance="outline">
        <input
          type="text"
          placeholder="Choose worker"
          aria-label="Number"
          matInput
          [formControl]="filterControl"
          [matAutocomplete]="auto3"
        />
        <mat-autocomplete #auto3="matAutocomplete">
          <mat-option
            *ngFor="let searchoption of searchfilteredOptions | async"
            [value]="searchoption"
          >
            {{ searchoption }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block text-white"
        >Clock in
      </mat-label>
      <div class="form-group">
        <input type="text" name="" id="" class="form-control" />
      </div>
      <!-- <label for="daterangepicker">Select Date Range:</label> -->
      <!-- <input
          type="text"
          id="daterangepicker"
          class="form-control"
          bsDaterangepicker
          [(ngModel)]="selectedRange"
          [ngModelOptions]="{ standalone: true }"
          [bsConfig]="bsConfig"
        /> -->
      <!-- <div class="custom-ranges">
        <label>Select a Custom Range:</label>
        <button
          *ngFor="let customRange of customRanges"
          class="btn btn-link"
          (click)="setCustomRange(customRange.range)"
        >
          {{ customRange.label }}
        </button>
      </div> -->

      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block text-white"
        >Clock out</mat-label
      >
      <mat-form-field appearance="outline" class="w-100">
        <input
          matInput
          [matDatepicker]="startDateDP"
          placeholder="Clock out"
          name="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDateDP"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDateDP></mat-datepicker>
      </mat-form-field>
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block text-white"
        >Comment</mat-label
      >
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput rows="3"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
