.modal {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-dialog {
    margin: auto;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Adjust as needed for spacing */
}

.custom-ranges {
    flex: 1;
}

.custom-ranges-buttons {
    /* Add your styling for the custom range buttons */
}

.calendar-container {
    flex: 2;
    /* Adjust the flex ratio as needed */
    display: none;
    /* Hide the calendar initially */
}

/* Add more CSS styling as needed */


.container {
    display: flex;
    justify-content: space-between;
}

.custom-ranges {
    width: 30%;
    /* Adjust as needed */
}

.custom-ranges ul {
    list-style: none;
    padding: 0;
}

.custom-ranges li {
    cursor: pointer;
    margin-bottom: 5px;
}

.date-picker-container {
    width: 65%;
    /* Adjust as needed */
}

:host {
    display: block;
    padding: 1rem;
    max-width: 600px;
}

:host /deep/ igx-calendar-container {
    display: flex;
    flex-direction: row-reverse;
}

:host /deep/ #actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px;
}

:host /deep/ #actions button {
    margin: 6px 0;
}

:host /deep/ #actions button:last-of-type {
    margin: 24px 0 18px 0;
}