<mat-card class="cardWithShadow theme-card">
  <mat-card-content class="b-t-1">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <!-- input -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Status</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [(value)]="selected" formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
        <mat-error
          *ngIf="(form?.get('status')?.touched || form?.get('status')?.dirty) &&
                                                          form?.get('status')?.invalid 
                                                          && form?.get('status')?.errors?.['required']"
        >
          Status is required</mat-error
        >
      </mat-form-field>

      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Key</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input
          matInput
          readonly
          formControlName="api"
          placeholder="{{ apiKey }}"
        />
      </mat-form-field>

      <span>
        <mat-checkbox color="primary" formControlName="products"
          >Products</mat-checkbox
        >
      </span>
      <br />
      <span>
        <mat-checkbox color="primary" formControlName="orders"
          >Orders</mat-checkbox
        >
      </span>
      <br />
      <span>
        <mat-checkbox color="primary" formControlName="files"
          >Files</mat-checkbox
        >
      </span>
      <br />
      <span>
        <mat-checkbox color="primary" formControlName="clients"
          >Clients</mat-checkbox
        >
      </span>

      <div class="m-t-12">
        <button mat-flat-button color="primary">Generate</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
