<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-flat-button
          color="primary"
          style="margin-right: 9px"
          (click)="redirect()"
        >
          <!-- routerLink="./apps/add-machines-operations" -->
          {{ "Add" | translate }} {{ "Machines/Operations" | translate }}
        </button>
        <button mat-flat-button color="primary">
          <i-tabler class="" name="tool" matBadgeColor="primary"></i-tabler>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table
        mat-table
        #table
        [dataSource]="data"
        class="mat-elevation-z8"
        cdkDropList
        [cdkDropListData]="data"
        (cdkDropListDropped)="dropTable($event)"
        class="text-white"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="order on schedule">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600 m-l-2"
            style="vertical-align: top"
            #tooltip="matTooltip"
            matTooltip="Simply drag and drop if you want change item position on the production schedule"
            matTooltipPosition="above"
            matTooltipHideDelay="10"
          >
            {{ "Order on schedule" | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon class="dragCursor" (mousedown)="dragDisabled = false"
              >reorder</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Name" | translate }}
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  type="text"
                  matInput
                  (keyup)="onSearchName($any($event.target).value)"
                />
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="w-100 text-center">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.name }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Active" | translate }}
            <form action="" class="m-t-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select
                  value=""
                  (selectionChange)="applyFilterActive($event.value)"
                >
                  <mat-option value=""></mat-option>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="w-100 text-center">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  <ng-container *ngIf="element.active == 'yes'">
                    <i-tabler name="check" style="color: #4caf50"></i-tabler>
                  </ng-container>
                  <ng-container *ngIf="element.active == 'no'">
                    <i-tabler name="X" style="color: #f44336"></i-tabler>
                  </ng-container>
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="end machine">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "End Machine" | translate }}
            <form action="" class="m-t-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select
                  value=""
                  (selectionChange)="applyFilterEndMachine($event.value)"
                >
                  <mat-option value=""></mat-option>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="w-100 text-center">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  <ng-container *ngIf="element.end_machine == 'yes'">
                    <i-tabler name="check" style="color: #4caf50"></i-tabler>
                  </ng-container>
                  <ng-container *ngIf="element.end_machine == 'no'">
                    <i-tabler name="X" style="color: #f44336"></i-tabler>
                  </ng-container>
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="work hour price">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Work hour price" | translate }}
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  type="text"
                  matInput
                  (keyup)="onSearch($any($event.target).value)"
                />
              </mat-form-field>
            </form>
          </th>
          <td
            class="ovr_flws"
            mat-cell
            *matCellDef="let element; let i = index"
          >
            <div class="position-relative">
              <div class="d-flex align-items-center">
                <div class="w-100 text-center">
                  <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                    <a
                      (click)="togglePopover(element?._id, element?.price)"
                      class="pop-class"
                      >{{ element.price ? element.price : 0 }}</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="popover popover-in"
                *ngIf="activePopoverId == element?._id"
                id="popover-{{ element.id }}"
              >
                <div>
                  <div class="custom-container d-flex">
                    <div class="custom-title">
                      <i-tabler name="edit"></i-tabler>
                    </div>
                    <div class="custom-title m-l-6">
                      <b>Edit work hour price</b>
                    </div>
                    <div class="close-icon" (click)="closePopover()">
                      &times;
                    </div>
                  </div>

                  <form [formGroup]="workHourForm">
                    <mat-form-field class="w-100" appearance="outline">
                      <input
                        type="text"
                        matInput
                        formControlName="workHourEdit"
                      />
                    </mat-form-field>
                    <div class="div_btns text-right" style="margin-top: -12px">
                      <button
                        mat-flat-button
                        color="warn"
                        style="
                          margin-right: 6px;
                          width: 25px !important;
                          height: 30px !important;
                        "
                        (click)="resetWorkEdit(element?.price)"
                      >
                        <i-tabler name="ban" style="width: 21px"></i-tabler>
                      </button>
                      <button
                        mat-flat-button
                        color="accent"
                        style="width: 25px !important; height: 30px !important"
                        (click)="saveWorkHour(element)"
                      >
                        <i-tabler name="check" style="width: 18px"></i-tabler>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Currency" | translate }}
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select
                  (selectionChange)="applyFilterCurrency($event.value)"
                >
                  <mat-option *ngFor="let curr of currencies" [value]="curr._id"
                    >{{ curr.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td class="ovr_flws" mat-cell *matCellDef="let element">
            <div class="position-relative">
              <div class="d-flex align-items-center">
                <div class="w-100 text-center">
                  <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                    <a
                      class="pop-class"
                      (click)="
                        togglePopoverOut(element?._id, element?.currency)
                      "
                      >{{ getCurrencyName(element?.currency) }}</a
                    >
                  </p>
                </div>
              </div>
              <div
                class="popover popover-out"
                *ngIf="activePopoverIdout == element?._id"
                id="popover-{{ element?._id }}"
              >
                <div>
                  <div class="custom-container-curr d-flex">
                    <div class="custom-title">
                      <i-tabler name="edit"></i-tabler>
                    </div>
                    <div class="custom-title m-l-6">
                      <b>Edit currency</b>
                    </div>
                    <div class="close-icon-curr" (click)="closePopoverOut()">
                      &times;
                    </div>
                  </div>
                  <form [formGroup]="currencyForm">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-select
                        formControlName="currencyEdit"
                        class="custom-class"
                      >
                        <mat-option
                          *ngFor="let curr of currencies"
                          [value]="curr?._id"
                        >
                          {{ curr.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="div_btns text-right" style="margin-top: -12px">
                      <button
                        mat-flat-button
                        color="warn"
                        style="
                          margin-right: 6px;
                          width: 25px !important;
                          height: 30px !important;
                        "
                        (click)="resetCurrencyEdit(element?.currency)"
                      >
                        <i-tabler name="ban" style="width: 21px"></i-tabler>
                      </button>
                      <button
                        mat-flat-button
                        color="accent"
                        style="width: 25px !important; height: 30px !important"
                        (click)="saveCurrency(element)"
                      >
                        <i-tabler name="check" style="width: 18px"></i-tabler>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="vertical-align: top"
          >
            {{ "Action" | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              data-toggle="tooltip"
              data-placement="bottom"
              title="View"
              class="m-r-10 cursor-pointer text-white"
              [routerLink]="['/apps/view-machines-operations/', element?._id]"
              ><i-tabler name="eye" class="icon-18"></i-tabler
            ></a>

            <a
              data-toggle="tooltip"
              data-placement="bottom"
              title="Update"
              class="m-r-10 cursor-pointer text-white"
              (click)="redirectUpdate(element?._id)"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <!--  (click)="openDialog('Update', element)" -->
            <a
              data-toggle="tooltip"
              data-placement="bottom"
              title="Delete"
              class="m-r-10 cursor-pointer text-white"
              (click)="deleteRecord(element?._id)"
            >
              <!--  (click)="openDialog('Delete', element)" -->
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          cdkDrag
          [cdkDragData]="row"
        ></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
