<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-flat-button
          color="primary"
          style="margin-right: 9px"
          (click)="redirect()"
        >
          <!-- routerLink="./apps/add-machines-operations" -->
          {{ "Add" | translate }} {{ "Machines/Operations" | translate }}
        </button>
        <button mat-flat-button color="primary">
          <i-tabler class="" name="tool" matBadgeColor="primary"></i-tabler>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table
        mat-table
        #table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="dropTable($event)"
        class="text-white"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="order on schedule">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600 m-l-2"
            style="vertical-align: top"
          >
            {{ "Order on schedule" | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon class="dragCursor" (mousedown)="dragDisabled = false"
              >reorder</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Name" | translate }}
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input type="text" matInput />
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.name }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Active" | translate }}
            <form action="" class="m-t-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="">
                  <mat-option value=""></mat-option>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.active }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="end machine">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "End Machine" | translate }}
            <form action="" class="m-t-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="">
                  <mat-option value=""></mat-option>
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.endMachine }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="work hour price">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Work hour price" | translate }}
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input type="text" matInput />
              </mat-form-field>
            </form>
          </th>
          <td
            class="ovr_flws"
            mat-cell
            *matCellDef="let element; let i = index"
          >
            <div class="position-relative">
              <div class="d-flex align-items-center">
                <div class="w-100 text-center">
                  <p
                    class="f-w-400 mat-subtitle-1 f-s-14 m-t-0"
                    #toggleButton
                    (click)="togglePopover(element.id)"
                  >
                    {{ element.workHourPrice | date }}
                  </p>
                </div>
              </div>
              <div
                class="popover popover-in"
                *ngIf="activePopoverId == element.id"
                id="popover-{{ element.id }}"
              >
                <div class="wrap_pop">
                  <div class="d-flex">
                    <h3 class="popover-header mb-2">
                      Edit Work hour price
                      <span class="close-icon" (click)="closePopover()"
                        >&times;</span
                      >
                    </h3>
                    <mat-icon
                      class="mat-icon-rtl-mirror"
                      svgIcon="cross"
                    ></mat-icon>
                  </div>
                  <mat-form-field class="w-100" appearance="outline">
                    <input type="text" matInput />
                  </mat-form-field>
                  <div class="div_btns">
                    <button
                      mat-flat-button
                      color="primary"
                      style="margin-right: 10px"
                    >
                      Reset
                    </button>
                    <button
                      mat-flat-button
                      color="accent"
                      style="margin-right: 10px"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            {{ "Currency" | translate }}
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  type="text"
                  placeholder="Choose currency"
                  aria-label="Number"
                  matInput
                  [formControl]="filterControl"
                  [matAutocomplete]="auto3"
                />
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option
                    *ngFor="let searchoption of searchfilteredOptions | async"
                    [value]="searchoption"
                  >
                    {{ searchoption }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </th>
          <td class="ovr_flws" mat-cell *matCellDef="let element">
            <div class="position-relative">
              <div class="d-flex align-items-center">
                <div class="w-100 text-center">
                  <p
                    class="f-w-400 mat-subtitle-1 f-s-14 m-t-0"
                    #toggleButton
                    (click)="togglePopoverOut(element.id)"
                  >
                    PLN
                  </p>
                </div>
              </div>
              <div
                class="popover popover-out"
                *ngIf="activePopoverIdout == element.id"
                id="popover-{{ element.id }}"
              >
                <div class="wrap_pop">
                  <div class="d-flex">
                    <h3 class="popover-header mb-2">
                      Edit currency
                      <span class="close-icon" (click)="closePopoverOut()"
                        >&times;</span
                      >
                    </h3>
                    <mat-icon
                      class="mat-icon-rtl-mirror"
                      svgIcon="cross"
                    ></mat-icon>
                  </div>
                  <mat-form-field class="w-100" appearance="outline">
                    <input type="text" matInput />
                  </mat-form-field>
                  <div class="div_btns">
                    <button
                      mat-flat-button
                      color="primary"
                      style="margin-right: 10px"
                    >
                      Reset
                    </button>
                    <button
                      mat-flat-button
                      color="accent"
                      style="margin-right: 10px"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="vertical-align: top"
          >
            {{ "Action" | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              class="m-r-10 cursor-pointer text-white"
              (click)="redirectUpdate()"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <!--  (click)="openDialog('Update', element)" -->
            <a class="m-r-10 cursor-pointer text-white">
              <!--  (click)="openDialog('Delete', element)" -->
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          cdkDrag
          [cdkDragData]="row"
        ></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
