<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button
          mat-flat-button
          color="primary"
          style="margin-right: 9px"
          (click)="redirect()"
        >
          <!-- routerLink="./apps/add-machines-operations" -->
          Add Machine/operation
        </button>
        <button mat-flat-button color="primary">
          <i-tabler class="" name="tool" matBadgeColor="primary"></i-tabler>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table
        mat-table
        #table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="dropTable($event)"
        class="text-white"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="order on schedule">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600 m-l-2"
            style="vertical-align: top"
          >
            Order on schedule
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-icon class="dragCursor" (mousedown)="dragDisabled = false"
              >reorder</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="shop floor view">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600 m-l-2"
            style="text-align: center; vertical-align: top"
          >
            Shop floor view
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  type="text"
                  placeholder="Choose shop floor view"
                  aria-label="Number"
                  matInput
                  [formControl]="filterControl"
                  [matAutocomplete]="auto3"
                />
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option
                    *ngFor="let searchoption of searchfilteredOptions | async"
                    [value]="searchoption"
                  >
                    {{ searchoption }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.shopFloorView }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            Name
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input type="text" matInput />
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.name }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            Active
            <form action="" class="m-t-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="in">
                  <mat-option value="in">India</mat-option>
                  <mat-option value="us">United States</mat-option>
                  <mat-option value="uk">United Kingdom</mat-option>
                  <mat-option value="ru">Russia</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.active }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="end machine">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            End Machine
            <form action="" class="m-t-10">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="in">
                  <mat-option value="in">India</mat-option>
                  <mat-option value="us">United States</mat-option>
                  <mat-option value="uk">United Kingdom</mat-option>
                  <mat-option value="ru">Russia</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="f-w-400 mat-subtitle-1 f-s-14 m-t-0">
                  {{ element.endMachine }}
                </p>
                <!-- <small class="mat-body-1 f-s-14">{{ element.Role }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="work hour price">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            Work hour price
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input type="text" matInput />
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div>
              <button
                [cPopover]="popoverHtml"
                cPopoverPlacement="right"
                [cPopoverTrigger]="'click'"
                popover-template="level.changeLevelTemplate"
                popover-trigger="focus"
                class="m-1"
                style="
                  background: none;
                  color: white;
                  border: none;
                  font-size: 14px;
                "
              >
                {{ element.workHourPrice }}
                <ng-template #popoverHtml>
                  <h3 class="popover-header">Edit Work hour price</h3>
                  <div class="popover-body">
                    <mat-form-field class="w-100" appearance="outline">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div
                    class="d-flex"
                    style="
                      justify-content: flex-end;
                      margin-top: -10px;
                      margin-bottom: 10px;
                    "
                  >
                    <button
                      mat-flat-button
                      color="primary"
                      style="margin-right: 10px"
                    >
                      Reset
                    </button>
                    <button
                      mat-flat-button
                      color="accent"
                      style="margin-right: 10px"
                    >
                      Save
                    </button>
                  </div>
                </ng-template>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="text-align: center"
          >
            Currency
            <form class="m-t-10">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  type="text"
                  placeholder="Choose currency"
                  aria-label="Number"
                  matInput
                  [formControl]="filterControl"
                  [matAutocomplete]="auto3"
                />
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option
                    *ngFor="let searchoption of searchfilteredOptions | async"
                    [value]="searchoption"
                  >
                    {{ searchoption }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <button
                [cPopover]="popoverHtml"
                cPopoverPlacement="right"
                [cPopoverTrigger]="'click'"
                class="m-1"
                style="
                  background: none;
                  color: white;
                  border: none;
                  font-size: 14px;
                "
              >
                {{ element.role == 1 ? "Admin" : "Worker" }}
                <ng-template #popoverHtml>
                  <h3 class="popover-header">Edit Currency</h3>
                  <div class="popover-body">
                    <mat-form-field class="w-100" appearance="outline">
                      <input type="text" matInput />
                    </mat-form-field>
                  </div>
                  <div
                    class="d-flex"
                    style="
                      justify-content: flex-end;
                      margin-top: -10px;
                      margin-bottom: 10px;
                    "
                  >
                    <button
                      mat-flat-button
                      color="primary"
                      style="margin-right: 10px"
                    >
                      Reset
                    </button>
                    <button
                      mat-flat-button
                      color="accent"
                      style="margin-right: 10px"
                    >
                      Save
                    </button>
                  </div>
                </ng-template>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-14 f-w-600"
            style="vertical-align: top"
          >
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              class="m-r-10 cursor-pointer text-white"
              (click)="redirectUpdate()"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <!--  (click)="openDialog('Update', element)" -->
            <a class="m-r-10 cursor-pointer text-white">
              <!--  (click)="openDialog('Delete', element)" -->
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          cdkDrag
          [cdkDragData]="row"
        ></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
