<div class="text-right m-b-10 m-t-10">
  <button mat-flat-button (click)="addUnit()" color="primary">
    + {{ "Add" | translate }} {{ "Unit" | translate }}
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row m-b-10">
    <div class="col">
      <b>{{ "Delete" | translate }}</b>
    </div>

    <div class="col-10 text-center">
      <b>{{ "Unit" | translate }}</b>
    </div>
    <div class="col">
      <b>{{ "Default" | translate }}</b>
    </div>
  </div>
  <div formArrayName="units">
    <div *ngFor="let units of unit.controls; let i = index">
      <div class="row m-b-10" [formGroupName]="i">
        <div
          class="col"
          #tooltip="matTooltip"
          matTooltip="Delete"
          matTooltipPosition="below"
          matTooltipHideDelay="10"
        >
          <i-tabler
            name="trash-filled"
            style="color: #ff5733"
            (click)="removeUnit(i)"
          ></i-tabler>
        </div>

        <div class="col-10">
          <input
            matInput
            class="text-white w-100 my-mat-input"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="col">
          <button
            type="button"
            mat-flat-button
            [ngClass]="{
              'true-button': unit.at(i).get('default')?.value,
              'false-button': !unit.at(i).get('default')?.value
            }"
            (click)="action(i)"
          >
            <i-tabler name="check"></i-tabler>
          </button>
        </div>
      </div>
    </div>
  </div>
  <button mat-flat-button color="primary" class="m-t-4">
    {{ "Save" | translate }}
  </button>
</form>
