<!-- <h2 class="header">Currencies</h2>
<p class="title">
  Only the 3-letter ISO 4217 currency code indicating the currency to use ex.
  PLN, USD.
</p> -->

<div class="text-right m-b-10">
  <button mat-flat-button (click)="addVatRate()" color="primary">
    + {{ "Add" | translate }} {{ "VAT Rate" | translate }}
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div formArrayName="vatRate">
    <div class="row m-b-10">
      <div class="col">
        <b>{{ "Delete" | translate }}</b>
      </div>

      <div class="col-10 text-center">
        <b>{{ "VAT Rate" | translate }}</b>
      </div>
      <div class="col">
        <b>{{ "Default" | translate }}</b>
      </div>
    </div>
    <div *ngFor="let rate of vat.controls; let i = index">
      <div class="row m-b-10" [formGroupName]="i">
        <div
          class="col-md-2"
          #tooltip="matTooltip"
          matTooltip="Delete"
          matTooltipPosition="below"
          matTooltipHideDelay="10"
        >
          <i-tabler
            name="trash-filled"
            style="color: #ff5733"
            (click)="removeVatRate(i)"
          ></i-tabler>
        </div>

        <div class="col-10">
          <input
            matInput
            class="text-white w-100 my-mat-input"
            type="text"
            formControlName="name"
          />
        </div>
      </div>
    </div>
    <button mat-flat-button color="primary">{{ "Save" | translate }}</button>
  </div>
</form>
