/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

tr {
    height: 40px !important;
    /* padding: 10px !important; */
    /* border-bottom: none; */
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background: #6ccca5 !important;
}

svg.mdc-switch__icon.mdc-switch__icon--on {
    fill: black !important;
}

.mdc-switch__shadow {
    background: white !important;
}

.backButton {
    background-color: gray;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    font-weight: 600;
}